---
pageable: true
per_page: 4
cover: ushguli-georgia.jpg
---

%header.main-header{cover}
  %nav.main-nav.overlay.clearfix
    - if blog_settings.logo.present?
      %a.blog-logo{href: home_path}
        = image_tag blog_settings.logo, alt: blog_settings.name
    - if blog_settings.navigation
      %a.menu-button.icon-menu{href: '#'}
        %span.word Menu
  .vertical
    / .main-header-content.inner
    /   %h1.page-title= blog_settings.name
    /   %h2.page-description= blog_settings.description
  %a.scroll-down.icon-arrow-left{href: '#content', data: {offset: '-45'}}
    %span.hidden Scroll Down

%section.author-profile.inner
  %h1.author-title Get Hopelessly Lost in this Incredible World
  = image_tag "lost-02-01.png", height: '150'
  %p
    %em I am the Hopeless Roamantic and my utmost goals are A) to get you 'hopelessly lost' through endless travel storytelling and, B) to help make travel a value and freedom that you live by on the daily.
    %br
    %br
      %em Go on...and experience this world.
  .travel-filter{style: "background-color: white; margin: 20% 0;"}
    %h3 What do you want to see?
    .form-div{style: "width: 300px; margin: 0 auto;"}
      %form#travel-form{:method => "get", :name => "travelType", action: "/"}
        %p{style: "text-align: left; width: 100%;"}
          %label
            %select#travel-type.travel-style{:name => "travel", :onchange => "changeAction()"}
              %option{:value => "", disabled: true, selected: true} Select Here
              %option{:value => "destinations"} Destinations
              %option{:value => "inspiration"} Inspiration
              %option{:value => "stories"} Stories
              %option{:value => "tips"} Tips
    .country-form{style: "width: 300px; margin: 0 auto;"}
  .map
    = partial('shared/map')
%main#content.content{role: :main}
  %h3.author-title{style: "text-align: center;"}= "Latest Adventures"
  = partial('shared/page_articles',
            locals: { page_articles: page_articles, paginate: paginate })
.sign-up
  %h2 Subscribe
  %p Are you the type to get lost in travel planning at work? If you need some travel inspiration, subscribe below for stories, tips and more. I promise I won't overload your mailbox with bullshit.
  %form#email-form{:method => "POST", :'data-netlify' => "true", name: "email-form"}
    %input.email{:name => "email", :type => "text"}/
    %input.btn-submit{:type => "submit", :value => "Subscribe"}/
  %p#success-message







/ .elfsight-app-8f530655-f193-4f52-8ca9-0abb6fff7345

/ %script{src: 'https://apps.elfsight.com/p/platform.js', defer: "true"}



